<!-- navbar -->
<%= render 'layouts/navbar'%>

<h1>Editar material</h1>

<%= render 'form', fichacortum: @fichacortum %>

<%= link_to 'Mostrar', @fichacortum %> |
<%= link_to 'Volver', fichacorta_path %>




<%= render 'layouts/footer'%>
